
.container {
  position: relative;
}

.megamenue{
  width: 1100px;
  margin-left: -640px;
  visibility: hidden;
  /* margin-top: 2px; */
  opacity: 0;
  height: 480px;
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}


nav ul li:hover .megamenue{
  visibility: visible;
  opacity: 1;
  height: 470px;
  transition-duration: 0.4s;
}

.megamenuitems h1{
  margin-top: 50px;
  padding: 10px;
  font-size: 1.8em;
  font-weight: 700;
  color: #223666;
}
.megamenuitems a{
  font-style: none;
  color: #223666;
}

.megamenuitems a:hover{
  color: #314f8e;
}

.megamenuitems ul {
  margin-top: -24px;
  padding: 20px;
  color: #424242;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.megamenuitems ul li {
  margin-top: 8px;
}

.megamenuitems ul li:hover {
  font-weight: 700;
  color: #223666;
  margin-top: 8px;
}

.megamenuitems h2{
  padding-left: 10px;
  margin-top: -20px;
  font-size: 18px;
  margin-top: -10px;
  font-weight: 700;
}
.megamenuitems img {
  transform: rotate(90deg);
  height: 1px;
  position: absolute;
  left: 0;
  margin-left: -20px;
  width: 120px;
  top: 160px;
 
}

.containernv {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .containernv {
    display: none;
  }

}